body {
    margin: 0;
    font-family: "Cursed Timer", sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

.home,
.guest{
    font-size: 150px;
    color:#F94F6D;
    background: black;
    padding: 50px 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;

}

.score_button{
    justify-content: center;
    width: 500px;
    padding: 20px;
    font-size: 50px;
    padding: 5px;
    margin: 10px;
}

#home_score,
#guest_score{
    display: flex;
    width: 500px;
    margin: auto;
    padding: 20px;

}

