body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.home,
.guest{
    font-family: "Cursed Timer", sans-serif;
    font-size: 100px;
    color:#F94F6D;
    background: black;
    padding: 50px 50px;
    border-radius: 50px;

}

.score_button{
    justify-content: center;
    width: 500px;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 20px;
}

#home_score,
#guest_score{
    width: 500px;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 20px;

}
